<head>
    <title>Home</title>
</head>
<body>
    <div>
        <div class="d-flex flex-column align-items-center">
            <h1 class="header-margin">Athena Wu</h1>
            <img src="~/images/headshot.jpeg" alt="Athena Wu's Headshot" class="w-25 img-circle m-2 rounded-circle" />
            <div class="w-25 justify-content-center">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center w-60">
                        Email
                        <span class="badge bg-primary rounded-pill">athenawu@utexas.edu</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center w-60">
                        LinkedIn
                        <span class="badge bg-primary rounded-pill">linkedin.com/in/athenawu3</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center w-60">
                        Portfolio
                        <span class="badge bg-primary rounded-pill">awuportfolio.com</span>
                    </li>
                </ul>
            </div>

            <div class="d-grid gap-2 d-flex justify-content-center section-margin">
                <a asp-controller="Home" asp-action="Timeline">
                    <button class="btn btn-lg btn-primary" type="button">See a brief timeline of my life.</button>
                </a>
                <a asp-controller="Home" asp-action="Photography">
                    <button class="btn btn-lg btn-primary" type="button">See some of the awesome photos I've taken.</button>
                </a>
            </div>

            <h2 class="section-margin">My Beli Rankings!</h2>
            <table class="table table-hover w-75">
                <thead>
                    <tr>
                        <th scope="col">Rank</th>
                        <th scope="col">Restaurants</th>
                        <th scope="col">Coffee & Tea</th>
                        <th scope="col">Ice Cream & Dessert</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-success">
                        <th scope="row">Liked it</th>
                        <td>Qi Austin</td>
                        <td>CaPhe.in Coffee</td>
                        <td>Bi-Rite Creamery</td>
                    </tr>
                    <tr class="table-warning">
                        <th scope="row">Okay</th>
                        <td>Kerbey Lane</td>
                        <td>Nate's Baked Goods & Coffee</td>
                        <td>Jeni's</td>
                    </tr>
                    <tr class="table-danger">
                        <th scope="row">Didn't like it</th>
                        <td>Pressed Juicery</td>
                        <td>N/A</td>
                        <td>Dairy Queen</td>
                    </tr>
                </tbody>
            </table>

            <h2 class="section-margin">Welcome to my (favorite) Ted Talk</h2>
            <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/yqc9zX04DXs?si=ZqWXKZfKUvb-rKIG"
                    frameborder="0"
                    allowfullscreen>
            </iframe>

        </div>
    </div>
</body>
